* {
    margin: 0;
    padding: 0;
}

/*登陆按钮*/
#login {
    width: 140px;
    height: 36px;
    margin: 10px auto;
}

#login,
#login a {
    width: 200px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

/*登陆框*/
#login-box {
    padding: 20px;
    display: none;
    width: 350px;
    height: 150px;
    background: #eeeeee;
    border-radius: 5px;
    position: absolute;
    margin-left: -80px;
    margin-top: 150px;
    /* text-align: center; */

}

#close {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

#back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

#login-box label input {
    width: 200px;
    height: 30px;
    margin: 10px 0 0 0;
    /* width: 90px; */
    border-radius: 5px;

}


#shuaxin,
#denglu {
    /* width: 20px; */
    height: 30px;
    margin: 10px 0 0 0;
    width: 90px;
    border-radius: 5px;
}

#login-box label {
    display: block;
    font-size: 20px;
    margin: 10px 0 0 0;

}